{% extends "base.html" %}
{% block content %}
<div class="container index">
    <form action="{{ url_for('index')}}" method="post">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <div class="search"> <i class="fa fa-search"></i> <input type="text" id="queryString" name="queryString" class="form-control" placeholder="Search Recurrent"> <button type="submit" class="btn btn-primary">Search</button> </div><p class="organic"> powered by Organic. </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}